In [2]:
#import the package we need
import pandas as pd
import numpy as np
import statsmodels.api as sm

# 1 Introduction to the Logistic Rgression Model

## 1.2 Fitting the Logistic Regression Model

In [6]:
#read the data sets CHDAGE
data = pd.read_table('D:/GitHub/applied_logistic_regression/data/CHDAGE/CHDAGE/CHDAGE.txt',header=0,encoding='gb2312',index_col='ID')
data.head()

    AGE  CHD
ID
1    20    0
2    23    0
3    24    0
5    25    1
4    25    0

In [9]:
target=data['CHD']
var=data[['AGE']]
var = sm.add_constant(var)

In [10]:
logit = sm.Logit(target, var)
result = logit.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.536765
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                    CHD   No. Observations:                  100
Model:                          Logit   Df Residuals:                       98
Method:                           MLE   Df Model:                            1
Date:                Tue, 01 Aug 2017   Pseudo R-squ.:                  0.2145
Time:                        22:37:08   Log-Likelihood:                -53.677
converged:                       True   LL-Null:                       -68.331
                                        LLR p-value:                 6.168e-08
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         -5.3095      1.134     -4.683      0.000        -7.531    -3.088
AGE            0.1109      0.024      4.610      0.000         0.064     0.158
==============================================================================

In [ ]:
#输出fitted values 和 logit

# 3 Interpretation of the Fitted Logistic Regression

## 3.6 Presentation and Interpretation of the Fitted Values

In [50]:
#read the data sets described in Section 1.6 the Burn Study
data = pd.read_table('D:/GitHub/applied_logistic_regression/data/BURN/BURN1000.txt',header=0,encoding='gb2312',index_col='ID')

In [27]:
data.head()

    FACILITY  DEATH   AGE  GENDER  RACEC  TBSA  INH_INJ  FLAME
ID
1         11      0  26.6       1      1  25.3        0      1
2          1      0   2.0       0      0   5.0        0      0
3         12      0  22.0       0      0   2.0        0      0
4          1      0  37.3       1      1   2.0        0      0
5          1      0  52.1       1      1   6.0        0      1

In [59]:
target=data['DEATH']
var=data[['TBSA','INH_INJ']]
var = sm.add_constant(var)
var.head()

    const  TBSA  INH_INJ
ID
1       1  25.3        0
2       1   5.0        0
3       1   2.0        0
4       1   2.0        0
5       1   6.0        0

In [60]:
logit = sm.Logit(target, var)

In [61]:
result = logit.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.260367
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                  DEATH   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      997
Method:                           MLE   Df Model:                            2
Date:                Sun, 30 Jul 2017   Pseudo R-squ.:                  0.3841
Time:                        12:45:52   Log-Likelihood:                -260.37
converged:                       True   LL-Null:                       -422.71
                                        LLR p-value:                 3.132e-71
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         -3.3796      0.178    -19.028      0.000        -3.728    -3.031
TBSA           0.0729      0.007     10.112      0.000         0.059     0.087
INH_INJ        1.2899      0.293      4.409      0.000         0.716     1.863
==============================================================================